# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/

# MLflow
mlruns/
mlartifacts/

# BentoML
bentoml/
*.bento

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Kubernetes
*.kubeconfig

# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Docker
*.log

sentiment_model

results
